# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/*
!build/.gitignore
.vscode/settings.json
tools/*
!tools/graph.py
coverage/*
!coverage/.gitignore
build_docker/*
!build_docker/.gitkeep
!build_docker/debian/buster/.gitkeep
!build_docker/debian/bullseye/.gitkeep
!build_docker/archlinux/.gitkeep
!build_docker/manjaro/stable/.gitkeep
!build_docker/manjaro/unstable/.gitkeep
!build_docker/ubuntu/20.04/.gitkeep
!build_docker/ubuntu/20.10/.gitkeep
!build_docker/fedora/30/.gitkeep
!build_docker/fedora/31/.gitkeep
!build_docker/fedora/32/.gitkeep
!build_docker/fedora/33/.gitkeep
!build_docker/fedora/34/.gitkeep
.vscode/*
