# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/*
!build/.gitignore
.vscode/settings.json
tools/*
!tools/graph.py
coverage/*
!coverage/.gitignore
build_docker/*
!build_docker/.gitkeep
!build_docker/debian/.gitkeep
!build_docker/archlinux/.gitkeep
!build_docker/manjaro/.gitkeep
!build_docker/ubuntu/20.10/.gitkeep
!build_docker/ubuntu/20.04/.gitkeep