[submodule "external/thread-pool"]
	path = external/thread-pool
	url = git@github.com:bshoshany/thread-pool.git
[submodule "external/raylib"]
	path = external/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "external/raylib-cpp"]
	path = external/raylib-cpp
	url = git@github.com:RobLoach/raylib-cpp.git
[submodule "external/nlohmann_json"]
	path = external/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "external/gtest"]
	path = external/gtest
	url = https://github.com/google/googletest.git
[submodule "external/benchmark"]
	path = external/benchmark
	url = https://github.com/google/benchmark.git
